<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= image_tag(pet.image.url) if pet.image && pet.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select(Pet.genders_i18n.invert, selected: form.object.gender), {prompt: "選択してください"}, class: "prefecture-select" %>
  </div>

  <div class="field">
    <%= form.label :animal_type %>
    <%= form.text_field :animal_type %>
  </div>

  <div class="field">
    <%= form.label :prefectures_name %>
    <%= form.select :prefectures_name, options_for_select(Pet.prefectures_names.keys.to_a), {prompt: "選択してください"}, class: "prefecture-select" %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
