<!DOCTYPE html>
<html>
  <head>
    <title>WannnyannRESCUE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
   <ul>
    <li class="left1">WannnyannRESCUE</li>
    <li class="right1"><%= link_to "ペット一覧", pets_path %></li>
    <% if logged_in? %>
    <li class="right2"><%= link_to "ユーザー一覧", users_path if logged_in? %></li>
    <li class="right2"><%= link_to "メッセージ", user_path(current_user.id) %></li>
    <li class="right2"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
    <% if current_user.admin == true %>
      <li class="right2"><%= link_to "管理画面", admin_users_path %>
    <% end %>
    <% else %>
    <li class="right2"><%= link_to "新規登録", new_user_path %></li>
    <li class="right2"><%= link_to "ログイン", new_session_path %></li>
    <li class="right2"><%= link_to "ゲストログイン", guest_login_path, method: :post %></li>
    <li class="right2"><%= link_to "ゲスト管理者ログイン", admin_guest_login_path, method: :post %></li>
    <% end %>
  </ul>
</header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <p>©️ 2022 rua maruoka</p>
  </footer>
</html>
